<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="fin.spring.projob.prouser.vo.Prouser" alias="Prouser"/>
		<typeAlias type="fin.spring.projob.prouser.vo.Kakao" alias="Kakao"/>
		<typeAlias type="fin.spring.projob.admin.vo.Admin" alias="Admin"/>
		<typeAlias type="fin.spring.projob.prouser.vo.Resume" alias="Resume"/>
		<typeAlias type="fin.spring.projob.prouser.vo.Career" alias="Career"/>
		<typeAlias type="fin.spring.projob.prouser.vo.Certificate" alias="Certi"/>
		<typeAlias type="fin.spring.projob.project.vo.Project" alias="Project"/>
		<typeAlias type="fin.spring.projob.project.vo.PMember" alias="PMember"/>
		<typeAlias type="fin.spring.projob.calendar.domain.Calendar" alias="Calendar"/>
		<typeAlias type="fin.spring.projob.messenger.vo.Message" alias="Message"/>
		<typeAlias type="fin.spring.projob.messenger.vo.MessageRoom" alias="MessageRoom"/>
		<typeAlias type="fin.spring.projob.fileshare.vo.FIleshare" alias="Fileshare"/>
		<typeAlias type="fin.spring.projob.fileshare.vo.FileshareFile" alias="FileshareFile"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/prouser-mapper.xml"/>
		<mapper resource="mappers/admin-mapper.xml"/>
		<mapper resource="mappers/project-mapper.xml"/>
		<mapper resource="mappers/calendar-mapper.xml"/>
		<mapper resource="mappers/messenger-mapper.xml"/>
		<mapper resource="mappers/fileshare-mapper.xml"/>
	</mappers>
</configuration>
