<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="fin.spring.projob.freelancer.vo.Freelancer" alias="Freelancer"/>
		<typeAlias type="fin.spring.projob.company.vo.Company" alias="Company"/>
	</typeAliases>
	<mappers>
		<mapper resource="mappers/freelancer-mapper.xml"/>
		<mapper resource="mappers/company-mapper.xml"/>
	</mappers>
</configuration>
