<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Admin">
	<select id="adlogin" parameterType="Admin" resultType="Admin">
		select * from admin where ad_id=#{ad_id} and ad_password=#{ad_password}
	</select>
	<select id="aduserapprove" parameterType="int" resultType="Prouser">
		select * from prouser where us_ok = #{us_ok}
	</select>
	<select id="adprojectapprove" parameterType="int" resultType="Project">
		select * from project where pro_ok = #{pro_ok}
	</select>
	<update id="updateuserok" parameterType="String">
		update prouser set us_ok = 1 where us_id=#{us_id}
	</update>
	<update id="updateusernok" parameterType="String">
		update prouser set us_ok = 2 where us_id=#{us_id}
	</update>
	<update id="updateprojectok" parameterType="int">
		update project set pro_ok = 1 where pro_no=#{pro_no}
	</update>
	<update id="updateprojectnok" parameterType="int">
		update project set pro_ok = 2 where pro_no=#{pro_no}
	</update>
</mapper>
