<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Calendar">
	<resultMap type="Calendar" id="calMap">
		<result property="start" column="start1"/>
		<result property="end" column="end1"/>
		<result property="allday" column="allday"/>
	</resultMap>
	<select id="calendarList" resultMap="calMap">
		SELECT id, title,
			start1,
			end1,
			allday,
			textColor,
			backgroundColor,
			BORDERCOLOR
		FROM CALENDAR
	</select>
	<insert id="insertCalendar">
		insert into calendar (id, title,
			start1,
			end1,
			allday,
			textColor,
			backgroundColor
			)
		values (seq_cal_no.nextval, #{title},
			#{start},
			#{end},
			#{allday},
			#{textColor},
			#{backgroundColor}
			)	
	</insert>
</mapper>
