<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Calendar">
	<resultMap type="Calendar" id="calMap">
		<result property="start" column="start1"/>
		<result property="end" column="end1"/>
		<result property="allday" column="allday"/>
	</resultMap>
<!-- 	<select id="calendarList" resultMap="calMap">
		SELECT id, pro_no, title,
			start1,
			end1,
			allday,
			textColor,
			backgroundColor,
			BORDERCOLOR
		FROM CALENDAR
	</select> -->
	<!-- 일정 조회 -->
	<select id="calendarList" resultMap="calMap" parameterType="hashmap">
		select ID, PRO_NO, TITLE, WRITER, 
		START1, 
		END1, 
		ALLDAY, 
		TEXTCOLOR, 
		backgroundColor,
		borderColor
			FROM CALENDAR 
		<choose>
		<when test="pro_no == '0'.toString() ">
        where writer = #{writer}
        </when>
        <otherwise>
        where pro_no = #{pro_no}
        </otherwise>
		</choose>
		
	</select>
	
	<!-- 일정 추가 -->
	<insert id="insertCalendar" parameterType="Calendar">
		insert into calendar (id, title,
			writer,
			pro_no,
			start1,
			end1,
			allday,
			textColor,
			backgroundColor,
			borderColor
			)
		values (seq_cal_no.nextval, #{title},
			#{writer},
			#{pro_no},
			#{start},
			#{end},
			#{allday},
			#{textColor},
			(select color_code from color_sample cs join p_member pm using (color_no) where pm.us_id = #{writer}and pro_no=#{pro_no}),
			(select color_code from color_sample cs join p_member pm using (color_no) where pm.us_id = #{writer} and pro_no=#{pro_no})
			)	
	</insert>
	
	<!-- 일정 삭제 -->
	<delete id="deleteCalendar">
		delete from calendar where id=#{id} 
	</delete>
	
	<!-- 색깔 조회 -->
	<select id="selectColor" parameterType="string" resultType="string">
		select color_code from color_sample cs join p_member pm using (color_no) where pm.us_id = #{userId} and pro_no=#{pro_no}		
	</select>
	
	<!-- 프로젝트 조회-->
	<select id="selectProject" parameterType="string" resultType="hashmap">
		select pro_title, pro_no from project left join p_member using(pro_no) where us_id=#{userId} and prom_ok=1
	</select>
	
	<!-- 프로젝트 멤버 조회 -->
	<select id="selectPMemberList" parameterType="string" resultType="hashmap">
		select pm.us_id, color_code, p.us_name from p_member pm join color_sample using (color_no) join prouser p on p.us_id = pm.us_id where pro_no = #{pro_no} and prom_ok=1
		<!-- select us_id, color_code from p_member join color_sample using (color_no) where pro_no = #{pro_no} and prom_ok=1 -->
	</select>
	
	<select id="selectColorInput" statementType="CALLABLE" parameterType="hashmap" resultType="hashmap">
	{
		CALL color_input_query(
		#{us_id, javaType=string, jdbcType=VARCHAR, mode=IN},
		#{pro_no, javaType=int, jdbcType=INTEGER, mode=IN},
		#{color_no, javaType=int, jdbcType=INTEGER, mode=OUT},
		#{color_code, javaType=string, jdbcType=VARCHAR, mode=OUT}
		 )
	}
	</select>
	
</mapper>
