<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Project">

	<!-- 프로젝트 공고 등록 -->
	<insert id="insertProject" parameterType="Project">
		insert into project (pro_no, pro_comp, pro_id, pro_title, pro_content, pro_period, pro_budget, pro_personnel, pro_field, pro_ok)
		values(prono_seq.nextval, #{pro_comp}, #{pro_id}, #{pro_title}, #{pro_content}, #{pro_period}, #{pro_budget}, #{pro_personnel}, #{pro_field}, 0)
	</insert>
	<insert id="insertFile" parameterType="Project">
		insert into projectimg(proimg_no, pro_no, us_id, changenamepro) values
		(proimgseq.nextval, prono_seq.currval, #{pro_id}, #{changenamepro} )
	</insert>
	<!-- 프로젝트 공고 수정 -->
	<update id="updateproject" parameterType="Project">
		update project set pro_title=#{pro_title}, pro_content=#{pro_content}, pro_peride=#{pro_period}, pro_budget=#{pro_budget}
		, pro_personnel = #{pro_personnel}, pro_field = #{pro_field} where pro_no = #{pro_no}
	</update>
	<!-- 프로젝트 공고 삭제 -->
	<delete id="deleteproject" parameterType="int">
		delete * from project where pro_no = #{pro_no}
	</delete>
	<!-- 공고 목록 조회 -->
	<select id="projectlist" parameterType="Project" resultType="Project">
		select pro_no, pro_title, pro_budget, pro_period, pro_personnel from project where pro_ok = 1 order by pro_no desc
	</select>
	<!-- 공고 상세조회 -->
	<select id="projectdetail" parameterType="int" resultType="Project">
		select * from project where pro_no = #{pro_no}
	</select>
	<select id="selectimgpro" parameterType="int" resultType="Project">
		select * from projectimg where pro_no=#{pro_no}
	</select>
	<select id="projectJoin" parameterType="int" resultType="Project">
		select * from project where pro_no = #{pro_no}
	</select>
	<!-- 프로젝트 신청(프리랜서) -->
	<insert id="pmemberinsert" parameterType="PMember">
		insert into p_member (pro_no, us_id, prom_ok, re_no, us_name, re_title)
		values (#{pro_no}, #{us_id}, 0, #{re_no}, #{us_name}, #{re_title})
	</insert>
	<!-- 프리랜서별 기신청 프로젝트인지 식별 -->
	<select id="alreadyjoinproject" parameterType="PMember" resultType="int">
		select count(*) from p_member where us_id=#{us_id} and pro_no=#{pro_no}
	</select>
	<!-- 프로젝트 조회(기업) -->
	<select id="projectstatuscomp" parameterType="String" resultType="Project">
		select * from project where pro_id = #{pro_id}
	</select>
	<!-- 프로젝트별 신청현황 조회(기업) -->
	<select id="projectjoinstatus" parameterType="int" resultType="PMember">
		select * from p_member where pro_no=#{pro_no} and prom_ok = 0
	</select>
	<!-- 프로젝트별 선정된 프리랜서 조회(기업) -->
	<select id="joinfree" parameterType="int" resultType="PMember">
		select * from p_member where pro_no=#{pro_no} and prom_ok = 1
	</select>
	<select id="projectjoininfo" parameterType="int" resultType="Project">
		select pro_no, pro_title, pro_personnel from project where pro_no = #{pro_no}
	</select>
	<!-- 프리랜서 선정(기업) -->
	<update id="selectfree" parameterType="PMember">
		update p_member set prom_ok = 1 where us_id=#{us_id} and pro_no=#{pro_no}
	</update>
	<!-- 프리랜서 선정시 기입력한 필요인원보다 넘지 않도록(기업) -->
	<select id="selectedfree" parameterType="PMember" resultType="int">
		select count(*) from p_member where us_id=#{us_id} and pro_no=#{pro_no}
	</select>
</mapper>
