<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="Prouser">

	<insert id="insertProuserfree" parameterType="Prouser">
		insert into prouser (us_id, us_pw, us_name, us_phone, us_email, us_address, us_crn, us_info, us_ok)
		values(#{us_id}, #{us_pw}, #{us_name}, #{us_phone}, #{us_email}, #{us_address}, #{us_crn}, 0, 0)
	</insert>
	<insert id="insertProusercomp" parameterType="Prouser">
		insert into prouser (us_id, us_pw, us_name, us_phone, us_email, us_address, us_crn, us_info, us_ok, us_adname, us_adphone, us_ademail)
		values(#{us_id}, #{us_pw}, #{us_name}, #{us_phone}, #{us_email}, #{us_address}, #{us_crn}, 1, 0, #{us_adname}, #{us_adphone}, #{us_ademail})
	</insert>
	<select id="idchk" resultType="_int">
		select count(*) from prouser where us_id=#{us_id}
	</select>
</mapper>
